h1 {
    color: aquamarine;
    text-align: center;
}

.header {
	background-color: silver;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.content {
	padding: 20px;
}

.footer {
	background-color: silver;
	color: #000;
	padding: 20px;
	text-align: center;
}

img { 
    width: 30vw;
}

.child {
    float: left;
  }